@model RegistrovaniKorisnikDB
@{
    ViewData["Title"] = "MyProfile";
}
<head>
    <script src="https://kit.fontawesome.com/0631ee6c72.js" crossorigin="anonymous"></script>
</head>

<body class="text-primary" style="background-color: rgb(241,236,236);background-image: url(&quot;assets/img/blue.png&quot;);background-repeat: no-repeat;">
    <nav class="navbar navbar-light navbar-expand-md shadow" style="background-color: rgb(235,119,119);">
        <div class="container-fluid">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-right" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul><a href="#" style="color: rgb(36,62,153);position: relative;left: 11.5%;">Log out</a>
                <input type="search" placeholder="search other users" style="position: relative;left: 74%;placeholder: search;">
                <i class="fa fa-search" style="position: relative;left: 75.5%;color: rgb(14,17,20);"></i>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"><img src="~/images/profile_pic.png" style="position: relative;width: 180px;height: 180px;bottom: -40%;border: groove;"></div>
            </div>
        </div>
    </div>
    <div></div>
    <div>
        <div class="container">
            <div class="row">

                <div class="col-md-3"><strong style="position: relative;bottom: -350%;color: #222222;left: 1%;">
                @{
                    @Html.DisplayFor(model => model.ime)
                    @Html.Raw(" ");
                    @Html.DisplayFor(model => model.prezime)
                }
            </strong></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"><button class="btn btn-primary shadow" type="button" style="position: relative;width: 180px;bottom: -320%;color: #222222;background-color: rgb(102,213,228);">Edit my profile</button></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"><a href="#" style="font-size: 16px;position: relative;bottom: -580%;/*width: 180px;*/"><span style="text-decoration: underline;">Delete my profile</span></a></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="width: 400px;">
                    <div class="card" style="position: relative;left: 7%;top: -53%;height: 380px;background-color: #f7f9fc;">
                        <div class="card-body" style="position: relative;left: 0%;bottom: -10%;">
                            <h4 class="card-title" style="position: relative;width: 110px;">Followers:</h4>
                            <h4 class="card-title" style="position: relative;width: 110px;left: 40%;bottom: 11.5%;">0</h4>
                            <h6 class="text-muted card-subtitle mb-2">
                                @{
                                    var gradidrzava = Model.grad + ", " + Model.drzava;
                                    @Html.Raw(gradidrzava)
                            }
                        </h6>
                        <p class="card-text">Write something about yourself</p>
                        <h6 class="text-muted card-subtitle mb-2">
                            @{
                                @Html.DisplayFor(model => model.biografija)
                        }
                        </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><i class="fas fa-envelope" style="color: #333333;font-size: 50px;position: relative;left: -25%;bottom: 48%;"></i></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><span class="badge badge-danger badge-counter" style="position: relative;left: 64.5%;bottom: 1910%;font-size: 20px;">0</span></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><a href="#" style="font-size: 20px;position: relative;left: 86.7%;bottom: 240%;">Become a VIP member</a></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><img src="~/images/AppLogo.png" style="position: relative;left: 39%;bottom: 150%;width: 302px;height: 130px;"></div>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
</body>

